<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Gymbo/IdeaProjects/ProjectTest">
        <classes>
            <class name="Home"/>
            <class name="Download"/>
            <class name="Navbar"/>
            <class name="Discover"/>
            <class name="Safety"/>
            <class name="BlogPage"/>
            <class name="CareersPage"/>
            <class name="FooterPage"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->